<section class="about-me">
  <div class="about-container">
    <div class="about-left">
      <div class="about-item">
        <img
          src="./../../assets/backgrounds/about1.png"
          alt="Based in Frankfurt"
          class="about-bg"
        />
        <div class="about-content">
          <img
            src="./../../assets/icons/state_Location.png"
            alt="Location Icon"
            class="about-icon"
          />
          <p>Based in Frankfurt am Main</p>
        </div>
      </div>
      <div class="about-item">
        <img
          src="./../../assets/backgrounds/about3.png"
          alt="Open to relocate"
          class="about-bg"
        />
        <div class="about-content">
          <img
            src="./../../assets/icons/state_Relocation.png"
            alt="Relocation Icon"
            class="about-icon"
          />
          <p>Open to relocate</p>
        </div>
      </div>
      <div class="about-item">
        <img
          src="./../../assets/backgrounds/about2.png"
          alt="Open to work remote"
          class="about-bg"
        />
        <div class="about-content">
          <img
            src="./../../assets/icons/status_Remote.png"
            alt="Remote Icon"
            class="about-icon"
          />
          <p>Open to work remote</p>
        </div>
      </div>
    </div>
    <div class="about-right">
      <h3>WHO'S ANTHONY?</h3>
      <h1>About me</h1>
      <div class="underline-wrapper">
        <img class="about-underline" src="./../../assets/animations/about_me_underline.png" alt="About me underline" />
      </div>
      
      <p>
        Hey there, I'm Anthony! Technology and innovation have always been my
        passion. My journey in IT is driven by a deep curiosity to solve complex
        problems through code. I love the challenge of finding efficient,
        elegant solutions and continuously refining my skills to stay ahead in
        the ever-evolving tech world. What inspires me the most is the ability
        to turn ideas into reality—building applications that make a difference.
        Every project is an opportunity to learn, grow, and push boundaries.
      </p>
      <p>Let's collaborate and build something remarkable together!</p>
      <a href="#contact" class="about-btn">Let's talk</a>
    </div>
  </div>
</section>
