@import "./../../styles.scss";

.about-me {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: #ffffff;
  padding: 100px 5vw;
  font-family: "Bricolage";
  overflow: hidden;
}

.about-me .about-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.about-left {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.about-item {
  position: relative;

  &:nth-child(1) {
    z-index: 3;
    transform: rotate(0deg);
    margin-bottom: -63px;
  }

  &:nth-child(2) {
    z-index: 2;
    transform: rotate(1deg);
    margin-bottom: -50px;
  }

  &:nth-child(3) {
    z-index: 1;
    transform: rotate(1deg);
    bottom: 10px;
  }
}

.about-bg {
  width: 500px;
  position: relative;
}

.about-content1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-4deg);
  display: flex;
  align-items: center;
  gap: 15px;
  color: #f8f9fa;
  font-size: 19px;
  width: max-content;
}

.about-content2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 15px;
  color: #f8f9fa;
  font-size: 19px;
  width: max-content;
}

.about-content3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(4deg);
  display: flex;
  align-items: center;
  gap: 15px;
  color: #f8f9fa;
  font-size: 19px;
  width: max-content;
}

.about-icon {
  width: 40px;
  height: 40px;
}

.about-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.about-right h3 {
  text-transform: uppercase;
  font-family: "Bricolage";
}

.about-right h1 {
  font-size: 65px;
  margin: 5px 0 0 0;
}

.underline-wrapper {
  position: relative;
  overflow: hidden;
}

.about-underline {
  width: 100%;
  height: auto;
  animation: handwriting 3s ease-in-out infinite;
  margin-bottom: 50px;
}

@keyframes handwriting {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  40% {
    clip-path: inset(0 0 0 0);
  }
  70% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.about-right p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 15px;
  font-family: "Bricolage";
  font-weight: 600;
}

.about-btn {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #000000;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 5px 0px #000000;
  font-family: "Bricolage";
  position: relative;
  color: black;
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 0;
}

.about-btn:hover {
  background: #f87a55;
  color: #f8f9fa;
  transform: translateY(2px);
  box-shadow: 1px 2px 0px #f8f9fa;
}

