@import "./../../../styles.scss";

header {
  @include section-bg(
    url(./../../../assets/backgrounds/header.png) no-repeat top center/cover,
    40px 4vw 50px
  );
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  .container {
    max-width: 1440px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  color: #f8f9fa;
  font-family: "Bricolage";

  @include respond-from($bp-desktop) {
    height: 90vh;
  }
}

.header-positioned-content {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }
}

.header-links {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  z-index: 10;
  margin-left: 40px;

  .social-links {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;

    a {
      color: #fff;
      font-size: 30px;
      width: 35px;
      height: 35px;
      display: inline-grid;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      text-decoration: none;
      transition: all 0.4s ease-in-out;

      &:before {
        content: "";
        position: absolute;
        left: -11%;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #3355ff);
        z-index: -1;
        border-radius: 50%;
        transform: translate(150%, 150%);
        transition: all 125ms ease-in-out;
      }

      &:hover {
        transform: scale(1.2);
        box-shadow: 0px 0px 30px #ffffff;

        &:before {
          transform: scaleX(1.9);
          animation: animate 0.4s ease-in-out linear;
        }
      }
    }
  }

  @keyframes animate {
    0%,
    100% {
      width: 100%;
      height: 100%;
    }
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @include respond-from($bp-phone) {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
}

.header-logo img {
  width: 38.54px;
  height: 40px;
  cursor: pointer;
  transition: filter 125ms ease;
  filter: invert(40%) sepia(91%) saturate(2000%) hue-rotate(220deg);

  &:hover {
    filter: invert(60%) sepia(25%) saturate(700%) hue-rotate(130deg);
  }
}

.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;

  img {
    width: 38.54px;
    height: 40px;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.hamburger,
.mobile-menu {
  display: none;
}

.greeting {
  position: absolute;
  top: 25%;
  left: 27%;
  display: inline-flex;
  width: auto;
  max-width: 100%;
  border-radius: 9999px;
  border: 1px solid #f8f9fa;
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0.75rem 1.5rem;
  transition: width 0.3s ease;
  font-size: 1rem;

  &:hover {
    width: 218px;
  }

  .bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: #3355ff;
      transform: translateX(-50%) scaleX(0);
      transform-origin: center;
      transition: transform 180ms ease;
      z-index: 0;
    }
  }

  &:hover .bg-wrapper::before {
    transform: translateX(-50%) scaleX(1);
  }

  .normal-text {
    transition: opacity 0.3s ease;
  }

  .hover-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .hand-icon {
    position: absolute;
    left: 78%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .hand-icon {
    top: -40px;
    width: 40px;
    transform: translateX(-50%) rotate(-180deg);
    transition: transform 0.6s ease, opacity 0.3s ease;
  }

  &:hover {
    .normal-text {
      opacity: 0;
    }
    .hover-text,
    .hand-icon {
      opacity: 1;
      color: #f8f9fa;
    }
    .hand-icon {
      transform: translateX(50%) rotate(0deg);
    }
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(2rem, 8vw, 8rem);
  font-weight: 700;
  line-height: 100%;
  text-align: center;

  .frontend {
    position: relative;
    left: -20%;
  }

  .developer {
    position: relative;
    left: 10%;
  }

  .letter-small {
    display: inline-block;
    position: relative;
    margin: 0 2px;
    transition: margin 0.2s ease-in, transform 0.2s ease-in, color 0.2s ease-in,
      opacity 0.2s ease-in;

    &::after {
      content: attr(data-alt);
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transform: scale(0.8);
      transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    }

    &:hover {
      color: transparent;
      transform: scale(1.1);
      margin: 0 20px 0 0;
      &::after {
        opacity: 1;
        color: #f7c518;
        gap: 10px;
        transform: scale(1);
      }
    }
  }

  .letter-big {
    display: inline-block;
    position: relative;
    margin: 0 2px;
    transition: margin 0.2s ease-in, transform 0.2s ease-in, color 0.2s ease-in,
      opacity 0.2s ease-in;

    &::after {
      content: attr(data-alt);
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transform: scale(0.8);
      transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    }

    &:hover {
      color: transparent;
      transform: scale(1.1);
      margin: 0 -2px 0 0px;
      gap: 10px;
      &::after {
        opacity: 1;
        color: #f7c518;
        transform: scale(1);
      }
    }
  }
  .letter-big.letter-L:hover {
    margin-right: -20px;
  }
}

.profile {
  position: absolute;
  bottom: 52vh;
  left: 73%;
  transform: translateX(-50%) rotate(10deg);
  width: 203.57px;
  height: 244px;

  .profile-frame {
    position: relative;
    width: 100%;
    height: 100%;

    .photo-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  .profile-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: filter 75ms ease-in-out;
  }

  .frame-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .profile-frame:hover .profile-photo {
    filter: grayscale(0%);
  }

  .profile-name {
    position: absolute;
    bottom: 16px;
    font-family: "Kalam";
    font-size: 18px;
    text-align: center;
    width: 100%;
    color: #000;
    font-weight: bold;
  }

  .hover-text-frame {
    display: none;
  }

  .profile-frame:hover .default-img {
    opacity: 0;
  }

  .profile-frame:hover .hover-img {
    opacity: 1;
  }

  .profile-frame:hover .default-text-frame {
    display: none;
  }

  .profile-frame:hover .hover-text-frame {
    display: inline;
  }
}

.get-In-Touch {
  display: inline-block;
  width: 156px;
  height: 44px;
  background: url("./../../../assets/buttons/get-In-Touch-Default.png")
    no-repeat center/cover;
  transition: background 75ms ease;
  position: absolute;
  bottom: 30vh;
  left: 71%;
  transform: translateX(-50%);
}

.get-In-Touch:hover {
  background: url("./../../../assets/buttons/get-In-Touch-Hover.png") no-repeat
    center/cover;
}

.icon {
  display: flex;
  border: 1px solid #f8f9fa;
  border-radius: 100px;
  padding: 3px;
}
