<header>
  <!-- Logo -->
  <div class="navbar">
    <a href="#" class="header-logo" (click)="scrollToTop()">
      <img src="./../../assets/logo/ap-logo.png" alt="Logo" />
    </a>

    <!-- Navigation -->
    <nav class="nav-links">
      <a href="#about" class="about-link"
        >About Me <span class="underline_about"></span
      ></a>
      <a href="#skills" class="skills-link"
        >Skills <span class="underline_skills"></span
      ></a>
      <a href="#projects" class="projects-link"
        >Projects <span class="underline_projects"></span
      ></a>
      <a href="#contact" class="contact-link"
        >Contact <span class="underline_contact"></span
      ></a>
    </nav>

    <!-- Sprachumschalter -->
    <div class="language-switch">
      <button
        class="lang-btn en"
        [class.active]="currentLanguage === 'en'"
        (click)="switchLanguage('en')"
      >
        EN
      </button>

      <div class="toggle-container">
        <div class="toggle-switch">
          <img [src]="currentSwitchImage" alt="Toggle Switch" />
        </div>
      </div>

      <button
        class="lang-btn de"
        [class.active]="currentLanguage === 'de'"
        (click)="switchLanguage('de')"
      >
        DE
      </button>
    </div>
  </div>

    <div class="greeting">
      <div class="bg-wrapper"></div>
      <span class="normal-text">Hello World</span>
      <span class="hover-text">I'M ANTHONY PIZZUTI</span>
      <img
        src="./../../../assets/icons/waving_hand.png"
        alt="Waving Hand"
        class="hand-icon"
      />
    </div>

    <div class="title">
      <div class="frontend">
        <span class="letter-big" data-alt="f">F</span>
        <span class="letter-small" data-alt="R">r</span>
        <span class="letter-small" data-alt="O">o</span>
        <span class="letter-small" data-alt="N">n</span>
        <span class="letter-small" data-alt="T">t</span>
        <span class="letter-small" data-alt="E">e</span>
        <span class="letter-small" data-alt="N">n</span>
        <span class="letter-small" data-alt="D">d</span>
      </div>
      <div class="developer">
        <span class="letter-big" data-alt="d">D</span>
        <span class="letter-big" data-alt="e">E</span>
        <span class="letter-big" data-alt="v">V</span>
        <span class="letter-big" data-alt="e">E</span>
        <span class="letter-big letter-L" data-alt="l">L</span>
        <span class="letter-big" data-alt="o">O</span>
        <span class="letter-big" data-alt="p">P</span>
        <span class="letter-big" data-alt="e">E</span>
        <span class="letter-big" data-alt="r">R</span>
      </div>
    </div>

    <div class="profile">
      <div class="profile-frame">
        <img
          src="./../../../assets/img/polaroid_Frame.png"
          alt="Profile Photo"
          class="profile-photo"
        />
      </div>
    </div>
    <a href="#contact" class="get-In-Touch"></a>

    <div class="social-links">
        <a href="https://github.com/AnthonyPizzuti" target="_blank" class="icon">
          <img
            src="./../../assets/icons/github.png"
            alt="GitHub Icon"
            class="icon"
          />
        </a>
        <a href="https://www.linkedin.com/in/anthony-pizzuti-6937b9355/" target="_blank" class="social-link">
          <img
            src="./../../../assets/icons/linkedin.png"
            alt="LinkedIn Icon"
            class="icon"
          />
        </a>
        <a href="mailto:anthony.pizzuti@gmx.de" class="social-link">
          <img src="./../../assets/icons/mail.png" alt="Mail Icon" class="icon" />
        </a>
      </div>
</header>
