<header class="header">
  <!-- Logo -->
  <div class="navbar">
    <a href="#" class="header-logo" (click)="scrollToTop()">
      <img src="./../../assets/logo/ap-logo.png" alt="Logo" />
    </a>

    <!-- Navigation -->
    <nav>
      <ul class="nav-links">
        <li><a href="#about">About Me</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

    <!-- Sprachumschalter -->
    <div class="language-switch">
      <button
        [class.active]="currentLanguage === 'en'"
        (click)="switchLanguage('en')"
      >
        EN
      </button>
      <button
        [class.active]="currentLanguage === 'de'"
        (click)="switchLanguage('de')"
      >
        DE
      </button>
    </div>
  </div>
</header>
