@media (max-width: 1294px) {
  .projects-section {
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 30px;
    gap: 60px;
  }

  .projects-content {
    width: 100%;
    max-width: 100%;
    text-align: left;
    padding-bottom: 20px;
  }

  .laptop-container {
    margin: 0 auto;
    max-width: 560px;
    width: 100%;
    text-align: center;

    .project-join-btn.desktop-only {
      display: none;
    }

    .project-join-btn.mobile-only {
      display: flex;
      position: static;
      margin-top: 20px;
      margin-left: auto;
      opacity: 1;
      visibility: visible;
      transition: opacity 180ms ease-in-out, transform 180ms ease-in-out;
      border: 1px solid #000000;
      box-shadow: 2px 4px 0 0 #000000;
      background: linear-gradient(to top, #ffffff 1%);
      color: black;
      font-size: 16px;
      font-weight: bold;
    }
    .project-join-btn.mobile-only:hover {
      background: #f87a55;
      color: #f8f9fa;
      transform: translateY(2px);
      box-shadow: 1px 2px 0px #f8f9fa;
    }
  }

  .projects-row {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
  }

  .project-card {
    max-width: 560px;
    width: 100%;
  }

  .mobile-projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
    padding-left: 30px;
  }

  .laptop-container,
  .projects-row {
    width: 100%;
    max-width: 560px;
  }

  .project-elpolloloco-btn,
  .project-dabubble-btn {
    &.desktop-only {
      display: none;
    }

    &.mobile-only {
      display: flex;
      position: static;
      opacity: 1;
      visibility: visible;
      margin-top: 20px;
      margin-left: auto;
      margin-right: 0;
      width: 100%;
      max-width: 154px;
      transition: opacity 180ms ease-in-out, transform 180ms ease-in-out;
      border: 1px solid #000000;
      box-shadow: 2px 4px 0 0 #000000;
      background: linear-gradient(to top, #ffffff 1%);
      color: black;
      font-size: 16px;
      font-weight: bold;
    }
    &.mobile-only:hover {
      background: #f87a55;
      color: #f8f9fa;
      transform: translateY(2px);
      box-shadow: 1px 2px 0px #f8f9fa;
    }
  }

  .three-cards-wrapper {
    max-width: 900px;
  }

  .card-wrapper {
    width: 500px;
    height: 420px;
  }

  .card-1,
  .card-2,
  .card-3 {
    width: 420px;
    height: 270px;
  }

  .card-wrapper:not(:first-child) {
    margin-left: -80px;
  }

  .colleagues {
    max-width: 900px;
    padding: 0 80px;
  }
}

@media (max-width: 1060px) {
  .three-cards-wrapper {
    max-width: 500px;
  }

  .card-wrapper {
    width: 440px;
    height: 380px;
  }

  .card-1,
  .card-2,
  .card-3 {
    width: 400px;
    height: 260px;
  }

  .card-wrapper:not(:first-child) {
    margin-left: -60px;
  }

  .colleagues {
    h1 {
      font-size: 40px;
      max-width: 100%;
      word-break: break-word;
      white-space: normal;
    }

    h3 {
      font-size: 14px;
    }
  }
}

@media (max-width: 905px) {
  .colleagues {
    padding: 0 0px;
    h1 {
      font-size: 65px;
      line-height: 1.1;
      text-align: right;
      word-break: break-word;
    }

    h3 {
      font-size: 24px;
    }
  }

  .three-cards-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .card-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .card {
    position: relative;
    top: auto;
    left: 10%;
    width: 75%;
    height: 330px;
    border-radius: 12px;

    .name-role {
      margin: 0;
      text-align: left;

      strong {
        font-size: 1rem;
      }

      span {
        font-size: 0.875rem;
      }
    }

    .linkedin-icon span {
      font-size: 0.875rem;
    }
  }

  .card-footer {
    padding-bottom: 10px;
  }

  .testimonial-text {
    top: 30%;
    text-align: left;
  }

  .card-1 {
    transform: rotate(-4deg);
  }
  .card-2 {
    transform: rotate(0deg);
  }
  .card-3 {
    transform: rotate(5deg);
  }
}

@media (max-width: 690px) {
  .laptop-container {
    max-width: 100%;
    width: 100%;
    padding: 0 0px;
    margin: 0 auto;
  }

  .project-wrapper img,
  .project-image,
  .laptop {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .project-title,
  .project-titleJoin {
    font-size: 20px;
  }

  .project-description {
    font-size: 18px;
  }

  .project-ring-container {
    width: 100px !important;
    height: 100px !important;
    bottom: 100px !important;
    position: absolute !important;

    .ring-icon {
      width: 60px;
    }
  }

  .project-join-btn.mobile-only {
    max-width: 140px;
    height: 36px;
    font-size: 14px;
  }

  .projects-row {
    gap: 30px;
  }

  .colleagues {
    h3 {
      font-size: 18px;
    }
    h1 {
      font-size: 56px;
    }
    .arrow {
      height: 25px;
      width: 75px;
    }
  }

  .card {
    width: 90%;
    height: 283px;

    .testimonial-text {
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .projects-content {
    span {
      font-size: 16px;
    }
    h2 {
      font-size: 38px;
    }
  }

  .projects-scribble {
    width: 150px;
    height: 20px;
  }

  .project-animation {
    p {
      font-size: 16px;
    }
  }

  .card-footer {
    .name-role strong,
    .name-role span,
    .linkedin-icon span {
      font-size: 13px;
    }
  }

  .laptop-container,
  .project-card {
    max-width: 100%;
    width: 100%;
  }

  .laptop {
    width: 100%;
  }

  .project-wrapper img {
    width: 100%;
    height: auto;
  }

  .laptop-container .project-wrapper {
    height: auto;
  }

  .mobile-projects-wrapper {
    gap: 0;
  }

  .projects-row {
    padding-top: 30px;
  }
}

@media (max-width: 430px) {
  .colleagues {
    h3 {font-size: 12px;
    }
    h1 {font-size: 34px;
    }
    .arrow {
      height: 25px;
      width: 75px;
    }
  }

  .card {
    .testimonial-text {font-size: 14px;}
  }

  .card-footer {
    .name-role {
      span {font-size: 12px;}
      strong {font-size: 12px;}
    }
  }

  .project-ring-container {
    width: 50px !important;
    height: 50px !important;
    bottom: 20px !important;
    position: absolute !important;

    .ring-icon {width: 30px;}
  }
}
