@import "./../../styles.scss";
@import "./projects.component.project-cards.scss";
@import "./projects.component.responsive.scss";

.projects-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 200px 80px;
  background-color: #ffffff;
  font-family: "Bricolage";
  flex-wrap: wrap;
}

.projects-content {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  max-width: 50%;
}

.projects-content h2 {
  font-size: 56px;
  margin-bottom: 1rem;
}

.projects-content span {
  font-size: 18px;
  font-weight: 600;
}

.projects-content p {
  font-size: 18px;
  line-height: 1.4;
  padding-top: 50px;
}

.projects-visual {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-animation {
  overflow: hidden;
}

.projects-scribble {
  position: absolute;
  width: 220px;
  height: 20px;
  animation: scribble 2s ease-in-out infinite;
}

@keyframes scribble {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  40% {
    clip-path: inset(0 0 0 0);
  }
  70% {
    clip-path: inset(0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.laptop-container {
  position: relative;
  width: 560px;
  height: 399px;
  bottom: 50px;

  .project-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .laptop {
    width: 100%;
    height: auto;
    display: block;
    animation: floatingAnimation 1.5s infinite ease-in-out alternate;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
  }

  .laptop-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, #000000 1%, transparent 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    pointer-events: none;
  }

  .project-join-btn {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 180ms ease-in-out, transform 180ms ease-in-out;
    width: 154px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #f8f9fa;
    top: 313.78px;
    left: 346px;
    cursor: pointer;
    z-index: 3;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 0 0 #f8f9fa;
    background: linear-gradient(to top, #000000 1%);
  }

  .project-join-btn.desktop-only {
    display: flex;
  }

  .project-join-btn.mobile-only {
    display: none;
  }

  .project-ring-container {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 3;
    bottom: 210px;

    .project-ring {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .text-top {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 53%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .text-bottom {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 8px;
      left: 0%;
    }
    .ring-icon {
      position: absolute;
      height: auto;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%) scaleX(-1) rotate(40deg);
    }
  }

  @keyframes floatingAnimation {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  &:hover {
    .laptop {
      animation: none;
      transform: scale(1.1);
    }
    .laptop-overlay {
      opacity: 0.7;
    }
    .project-join-btn {
      opacity: 1;
      visibility: visible;
    }
  }
  .project-join-btn:hover {
    background: #f87a55;
    color: #f8f9fa;
    transform: translateY(2px);
    box-shadow: 1px 0px 0px #f8f9fa;
  }
}

.projects-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-top: 120px;
}

.project-card {
  width: 560px;
}

.project-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 20px;

  .project-image {
    transition: transform 0.3s ease;
  }

  .project-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, #000000 1%, transparent 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    pointer-events: none;
  }

  &:hover {
    .project-image {
      transform: scale(1.1);
    }

    .project-overlay {
      opacity: 0.7;
    }

    .project-elpolloloco-btn,
    .project-dabubble-btn {
      opacity: 1;
      visibility: visible;
    }
  }
}

.project-titleJoin {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  justify-content: flex-start;
  display: flex;
  z-index: 4;
}

.project-title {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  justify-content: flex-start;
  display: flex;
  z-index: 4;
}

.project-description {
  margin-top: 10px;
  line-height: 1.5;
  display: flex;
  text-align: justify;
  font-size: 18px;
}

.project-elpolloloco-btn {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 180ms ease-in-out, transform 180ms ease-in-out;
  width: 154px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #f8f9fa;
  top: 320px;
  left: 365px;
  cursor: pointer;
  z-index: 3;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 0 0 #f8f9fa;
  background: linear-gradient(to top, #000000 1%);
}

.project-dabubble-btn {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 180ms ease-in-out, transform 180ms ease-in-out;
  width: 154px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #f8f9fa;
  top: 320px;
  left: 365px;
  cursor: pointer;
  z-index: 3;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 0 0 #f8f9fa;
  background: linear-gradient(to top, #000000 1%);
}

.project-elpolloloco-btn:hover {
  background: #f87a55;
  color: #f8f9fa;
  transform: translateY(2px);
  box-shadow: 1px 0px 0px #f8f9fa;
  z-index: 3;
}
.project-dabubble-btn:hover {
  background: #f87a55;
  color: #f8f9fa;
  transform: translateY(2px);
  box-shadow: 1px 0px 0px #f8f9fa;
  z-index: 3;
}

.colleagues {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;

  h3 {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
  }

  h1 {
    font-size: 70px;
  }
}

.arrow {
  width: 100px;
  height: auto;
  animation: arrowPulse 3s infinite ease-in-out;
}

@keyframes arrowPulse {
  0% {
    clip-path: inset(0 0 0 100%);
  }
  16.67% {
    clip-path: inset(0 0 0 0);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  66.67% {
    clip-path: inset(0 0 0 100%);
  }
  100% {
    clip-path: inset(0 0 0 100%);
  }
}

.mobile-projects-wrapper {
  display: contents;
}

.project-elpolloloco-btn.mobile-only,
.project-dabubble-btn.mobile-only {
  display: none;
}
