<section class="projects-section">
  <div class="projects-content">
    <span>MY CRAFT</span>
    <h2>Projects</h2>
    <div class="project-animation">
      <img
        class="projects-scribble"
        src="./../../assets/animations/projects.png"
        alt="Projects Scribble"
      />
    </div>
    <p>
      Encourage people to take a look and interact with your projects.
      <br />Highlight your approach to creating responsive, user-friendly<br />
      projects with efficient code.
    </p>
  </div>

  <div class="projects-visual">
    <!-- Ring im Hintergrund -->
    <img
      class="projects-ring"
      src="./../../assets/backgrounds/projects_ring.png"
      alt="Projects Ring"
    />

    <!-- Laptop-Container -->
    <div class="laptop-container">
      <img
        class="laptop movement"
        src="./../../assets/animations/laptop_Movement.png"
        alt="Laptop Movement"
      />

      <!-- Laptop: Final-Hover (erscheint beim Hover) -->
      <img
        class="laptop final-hover"
        src="./../../assets/animations/laptop_Final_Hover.png"
        alt="Laptop Final Hover"
      />

      <!-- Button: Project Details (erscheint ebenfalls beim Hover) -->
      <img
        class="project-details"
        src="./../../assets/buttons/project_Details.png"
        alt="Project Details Button"
      />
    </div>
    <div class="join-Text">
      <span> Join<br /> </span>
      <p>
        Task manager inspired by the Kanban System. Create and organize tasks
        using drag and drop functions, assign users and categories.
      </p>
    </div>
  </div>
</section>
