<section id="contact" class="contact-section white-section">
  <div class="contact-text">
    <h3>{{ "CONTACT.TITLE" | translate }}</h3>
    <h1>{{ "CONTACT.SUBTITLE" | translate }}</h1>
    <p>{{ "CONTACT.PARAGRAPH_1" | translate }}</p>
    <p>{{ "CONTACT.PARAGRAPH_2" | translate }}</p>
    <div class="arrow-container">
      <img
        src="./../../assets/animations/arrow_hover.png"
        alt="Yellow Arrow"
        class="arrow-yellow"
      />
    </div>
  </div>

  <div class="sticker">
    <img src="./../../assets/logo/ap-logo.png" alt="AP Logo" class="logo" />
    <svg viewBox="0 0 200 200" class="circle-text">
      <path
        id="textPath"
        fill="transparent"
        d="M 100, 100 m -75, 0 a 75,75 0 1,1 150,0 a 75,75 0 1,1 -150,0"
      />
      <text>
        <textPath href="#textPath">
          Anthony Pizzuti -- Frontend Developer --
        </textPath>
      </text>
    </svg>
  </div>

  <div class="contact-form">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <div class="input-container" [class.error]="isError">
        <label for="name">{{ "CONTACT.FORM.NAME_LABEL" | translate }}</label>
        <input
          #name="ngModel"
          [(ngModel)]="contactData.name"
          type="text"
          id="name"
          name="name"
          placeholder="Your name goes here"
          required
        />
        <span
          *ngIf="!name.valid && name.touched && !name.disabled"
          class="error-message"
        >
          {{ "CONTACT.FORM.NAME_ERROR" | translate }}
        </span>
      </div>

      <div class="input-container">
        <label for="email">{{ "CONTACT.FORM.EMAIL_LABEL" | translate }}</label>
        <input
          #email="ngModel"
          [(ngModel)]="contactData.email"
          type="email"
          id="email"
          name="email"
          placeholder="youremail@email.com"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        />

        <span
          *ngIf="!email.valid && email.touched && !email.disabled"
          class="error-message"
        >
          {{ "CONTACT.FORM.EMAIL_ERROR" | translate }}
        </span>
      </div>
      <div class="input-container">
        <label for="message">{{
          "CONTACT.FORM.MESSAGE_LABEL" | translate
        }}</label>
        <textarea
          #message="ngModel"
          minlength="4"
          [(ngModel)]="contactData.message"
          id="message"
          name="message"
          placeholder="Write something.."
          style="height: 40px"
          required
        ></textarea>

        <span
          *ngIf="!message.valid && message.touched && !message.disabled"
          class="error-message"
        >
          {{ "CONTACT.FORM.MESSAGE_ERROR" | translate }}
        </span>
      </div>
      <div class="checkbox-button-container">
        <!-- Checkbox -->
        <label class="checkbox-label">
          <input
            type="checkbox"
            id="privacy"
            name="privacy"
            [(ngModel)]="isChecked"
            (change)="validateCheckbox()"
          />
          <span class="custom-checkbox">
            <img [src]="getCheckboxImage()" alt="Checkbox state" />
          </span>
          <span>
            {{ "CONTACT.FORM.CHECKBOX_PART1" | translate }}
            <a routerLink="/privacy-policy">{{
              "CONTACT.FORM.PRIVACY_LINK" | translate
            }}</a>
            {{ "CONTACT.FORM.CHECKBOX_PART2" | translate }}
          </span>
          <p class="error-message" *ngIf="showError">
            {{ "CONTACT.FORM.ERROR" | translate }}
          </p>
        </label>

        <button type="submit" class="send-btn" [disabled]="!isChecked">
          Send
        </button>
      </div>
    </form>
    <div *ngIf="showSuccess" class="success-message">
      {{ "CONTACT.FORM.SUCCESS_MESSAGE" | translate }}
    </div>
  </div>
</section>
