<div class="mobile-header">
  <!-- Logo links -->
  <a (click)="goHome()" class="logo">
    <img src="./../../assets/logo/ap-logo.png" alt="Logo" />
  </a>
  <!-- Close-X rechts -->
  <button class="close-btn" (click)="goBack()" aria-label="Schließen">
    <img src="./../../assets/icons/closeProject.png" alt="Close" />
  </button>
</div>

<div class="legal-notice-container">
  <div class="navbar">
    <a (click)="goHome()">
      <img class="logo" src="./../../assets/logo/ap-logo.png" alt="Logo" />
    </a>

    <!-- Navigation -->
    <nav class="nav-links">
      <a class="about-link" (click)="scrollToSection('about-me')">
        {{ "HEADER.NAV.ABOUT" | translate }}
        <span class="underline_about"></span>
      </a>
      <a class="skills-link" (click)="scrollToSection('skills')">
        {{ "HEADER.NAV.SKILLS" | translate }}
        <span class="underline_skills"></span>
      </a>
      <a class="projects-link" (click)="scrollToSection('projects')">
        {{ "HEADER.NAV.PROJECTS" | translate }}
        <span class="underline_projects"></span>
      </a>
      <a class="contact-link" (click)="scrollToSection('contact')">
        {{ "HEADER.NAV.CONTACT" | translate }}
        <span class="underline_contact"></span>
      </a>
    </nav>

    <!-- Sprachumschalter bleibt unverändert -->
    <div class="language-switch">
      <button
        class="lang-btn en"
        [class.active]="currentLanguage === 'en'"
        (click)="switchLanguage('en')"
      >
        EN
      </button>

      <div class="toggle-container">
        <div class="toggle-switch">
          <img [src]="currentSwitchImage" alt="Toggle Switch" />
        </div>
      </div>

      <button
        class="lang-btn de"
        [class.active]="currentLanguage === 'de'"
        (click)="switchLanguage('de')"
      >
        DE
      </button>
    </div>
  </div>
  <div class="noticeBack">
    <a [routerLink]="['/']" class="go-back">
      <img src="./../../assets/animations/breadcrumb_Arrow.png" alt="Go Back" />
      <span>{{ "LEGAL_NOTICE.GO_BACK" | translate }}</span>
    </a>
  </div>
  <div class="legal-notice-page">
    <div class="legal-notice-content">
      <h1>{{ "LEGAL_NOTICE.TITLE" | translate }}</h1>
      <h2 id="m46">{{ "LEGAL_NOTICE.SERVICE_PROVIDER.TITLE" | translate }}</h2>
      <p>{{ "LEGAL_NOTICE.SERVICE_PROVIDER.NAME" | translate }}</p>
      <p>{{ "LEGAL_NOTICE.SERVICE_PROVIDER.ADDRESS" | translate }}</p>
      <p>{{ "LEGAL_NOTICE.SERVICE_PROVIDER.CITY" | translate }}</p>
      <h2 id="m56">
        {{ "LEGAL_NOTICE.CONTACT_INFORMATION.TITLE" | translate }}
      </h2>
      <p>
        {{ "LEGAL_NOTICE.CONTACT_INFORMATION.EMAIL_LABEL" | translate }}
        <a
          href="mailto:{{
            'LEGAL_NOTICE.CONTACT_INFORMATION.EMAIL' | translate
          }}"
        >
          {{ "LEGAL_NOTICE.CONTACT_INFORMATION.EMAIL" | translate }}
        </a>
      </p>
      <p>
        {{ "LEGAL_NOTICE.CONTACT_INFORMATION.TELEPHONE_LABEL" | translate }}
        {{ "LEGAL_NOTICE.CONTACT_INFORMATION.TELEPHONE" | translate }}
      </p>
      <h2 id="m172">{{ "LEGAL_NOTICE.SOCIAL_MEDIA.TITLE" | translate }}</h2>
      <p>{{ "LEGAL_NOTICE.SOCIAL_MEDIA.INFO" | translate }}</p>
      <p>
        <a
          href="{{ 'LEGAL_NOTICE.SOCIAL_MEDIA.GITHUB' | translate }}"
          target="_blank"
        >
          {{ "LEGAL_NOTICE.SOCIAL_MEDIA.GITHUB" | translate }}
        </a>
      </p>
      <p>
        <a
          href="{{ 'LEGAL_NOTICE.SOCIAL_MEDIA.LINKEDIN' | translate }}"
          target="_blank"
        >
          {{ "LEGAL_NOTICE.SOCIAL_MEDIA.LINKEDIN" | translate }}
        </a>
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
