@import "./../../styles.scss";
@import "./project-details.component.nav-links.scss";

.project-details-container {
  position: relative;
  font-family: "Bricolage";
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #1d1d1d;
  padding: 20px 5vw 0;
  overflow: hidden;
  height: 100vh;

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./../../assets/backgrounds/note_Book_Paper.png") no-repeat
      top center;
    background-size: 100% 100%;
    z-index: 0;
  }

  .bg-rotated {
    display: none;
  }
}

.project-details-container .container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.navbar,
.go-back {
  position: relative;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 38.54px;
  height: 40px;
  cursor: pointer;
  transition: filter 0.3s ease;
  filter: invert(40%) sepia(91%) saturate(2000%) hue-rotate(220deg);

  &:hover {
    filter: invert(60%) sepia(25%) saturate(700%) hue-rotate(130deg);
  }
}

.go-back {
  padding: 65px 0 0 0;
  gap: 10px;
  align-items: center;
  display: flex;
  color: black;
  font-family: "Bricolage";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;

  img {
    height: 24px;
    width: 24px;
  }

  &:hover {
    color: #f87a55;
  }
}

h1 {
  font-size: 75px;
}

.project-title {
  display: flex;
  flex-direction: column;
  padding: 30px 0 20px 45px;
}

.underline {
  animation: handwriting 2s ease-in-out infinite;
}

@keyframes handwriting {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  40% {
    clip-path: inset(0 0 0 0);
  }
  70% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.project-info {
  max-width: 1440px;
  padding: 65px 0 15px 45px;
  display: flex;
  gap: 240px;

  .left-content {
    flex: 1;
    bottom: 50px;
    position: relative;
  }

  .right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    bottom: 130px;
  }
}

.description,
.details {
  margin-bottom: 40px;

  h2 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 28px;
  }

  p {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
  }
}

.duration {
  margin-bottom: 30px;
  font-size: 19px;
  strong {
    font-weight: 700;
    font-size: 20px;
  }
}

.technologies {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.project-links {
  display: flex;
  gap: 20px;
  position: relative;
}

.gitHub,
.liveTest {
  display: flex;
  transition: opacity 180ms ease-in-out, transform 180ms ease-in-out;
  width: 100px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid #f8f9fa;
  cursor: pointer;
  z-index: 3;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 0 0 #f8f9fa;
  background: linear-gradient(to top, #000000 1%);

  &:hover {
    background: #f87a55;
    color: #f8f9fa;
    transform: translateY(2px);
    box-shadow: 1px 0px 0px #f8f9fa;
    z-index: 3;
  }
}

.next-project {
  gap: 10px;
  align-items: center;
  display: flex;
  color: #f8f9fa;
  font-family: "Bricolage";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  cursor: pointer;
  position: relative;
  left: 25px;
  top: 25px;

  img {
    height: 24px;
    width: 24px;
  }

  &:hover {
    color: #F7C518;
  }
}

.project-ring-container {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 3;
  left: 500px;
  bottom: 250px;

  .project-ring {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .text-top {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 8px;
    left: 0%;
  }
  .ring-icon {
    position: absolute;
    height: auto;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%) scaleX(-1) rotate(20deg);
    width: 70px;
    height: 40px;
  }
}

.sticker {
  width: 100px;
  height: 100px;
  background: url("./../../assets/backgrounds/projects_epl_db.png") no-repeat
    center/cover;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  top: 150px;
  left: 500px;
}

.sticker_logo {
  width: 40px;
  height: auto;
  position: absolute;
  z-index: 2;
  transform: rotate(15deg);
}

.circle-text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: x-large;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  font-family: Bricolage;
}

.circle-text::before {
  content: "Anthony Pizzuti - Frontend Developer - ";
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  transform: rotate(0deg);
}

.mobile-header {
  display: none;
  position: absolute;
  top: 20px;
  left: 50px;
  right: 50px;
  z-index: 1001;
  justify-content: space-between;
  align-items: center;

  .logo img {
    width: 38.54px;
    height: 40px;
  }

  .close-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.mobile-buttons {
  display: none;
}
