.nav-links {
  display: flex;
  gap: 150px;

  a {
    position: relative;
    text-decoration: none;
    color: #f8f9fa;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }

  .about-link {
    position: relative;
    cursor: pointer;
    color: black;
  }

  .underline_about {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 50px;
    background: url("./../../assets/animations/about_me_hover.png") no-repeat
      center/contain;
    opacity: 0;
    z-index: -1;
    transform: translate(-50%, -50%) scale(0);
  }

  .about-link:hover .underline_about {
    opacity: 1;
    animation: drawCircle 180ms ease-in-out forwards;
    z-index: 1;
  }

  .about-link:not(:hover) .underline_about {
    animation: eraseCircle 180ms ease-in-out forwards;
    z-index: 1;
  }

  @keyframes drawCircle {
    0% {
      clip-path: circle(0% at 50% 0%);
      transform: translate(-50%, -50%) scale(0);
      opacity: 1;
    }
    50% {
      clip-path: circle(50% at 50% 25%);
      transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
      clip-path: circle(100% at 50% 50%);
      transform: translate(-50%, -50%) scale(1);
    }
  }

  @keyframes eraseCircle {
    0% {
      clip-path: circle(100% at 50% 50%);
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    50% {
      clip-path: circle(50% at 50% 25%);
      transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
      clip-path: circle(0% at 50% 0%);
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
  }

  .skills-link {
    position: relative;
    cursor: pointer;
    color: black;

    .underline_skills {
      position: absolute;
      left: 0;
      bottom: -12px;
      width: 80px;
      height: 42px;
      background: url("./../../assets/animations/skills_hover.png") no-repeat
        left center/contain;
      opacity: 1;
      clip-path: inset(0 100% 0 0);
      transition: clip-path 0.1s ease-in-out;
    }

    &:hover .underline_skills {
      left: -19px;
      animation: arrowAppear 180ms ease-in-out forwards;
    }

    &:not(:hover) .underline_skiils {
      left: -19px;
      animation: arrowDisappear 180ms ease-in-out forwards;
    }
  }

  @keyframes arrowAppear {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes arrowDisappear {
    0% {
      clip-path: inset(0 0 0 0);
    }
    100% {
      clip-path: inset(0 100% 0 0);
    }
  }

  .projects-link {
    position: relative;
    cursor: pointer;

    .underline_projects {
      position: absolute;
      left: 0;
      bottom: -12px;
      width: 105px;
      height: 42px;
      background: url("./../../assets/animations/projects_hover.png") no-repeat
        left center/contain;
      opacity: 1;
      clip-path: inset(0 100% 0 0);
      transition: clip-path 0.1s ease-in-out;
    }

    &:hover .underline_projects {
      bottom: -13px;
      left: -15px;
      animation: arrowAppear 180ms ease-in-out forwards;
    }

    &:not(:hover) .underline_projects {
      bottom: -13px;
      left: -15px;
      animation: arrowDisappear 180ms ease-in-out forwards;
    }
  }

  @keyframes arrowAppear {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes arrowDisappear {
    0% {
      clip-path: inset(0 0 0 0);
    }
    100% {
      clip-path: inset(0 100% 0 0);
    }
  }

  .contact-link {
    position: relative;
    cursor: pointer;

    .underline_contact {
      position: absolute;
      left: 0;
      bottom: -12px;
      width: 90px;
      height: 42px;
      background: url("./../../assets/animations/contact_hover.png") no-repeat
        left center/contain;
      opacity: 1;
      clip-path: inset(0 100% 0 0);
      transition: clip-path 0.1s ease-in-out;
    }

    &:hover .underline_contact {
      left: -10px;
      animation: arrowAppear 180ms ease-in-out forwards;
    }

    &:not(:hover) .underline_contact {
      left: -10px;
      animation: arrowDisappear 180ms ease-in-out forwards;
    }
  }
}

@keyframes arrowAppear {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes arrowDisappear {
  0% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.language-switch {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.language-switch button {
  background: transparent;
  border: none;
  color: #f8f9fa;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease-in-out;

  &.active {
    cursor: default;
    color: #24dd80;
  }

  &:not(.active):hover {
    color: #f8f9fa;
  }
}

.language-switch .lang-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-switch .lang-btn:not(.active):hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) scale(0);
  animation: drawLangHover 0.3s ease-in-out forwards;
}

.language-switch .lang-btn.en:not(.active):hover::after {
  background-image: url("./../../assets/animations/english_Hover.png");
}

.language-switch .lang-btn.de:not(.active):hover::after {
  background-image: url("./../../assets/animations/deutsch_Hover.png");
}

@keyframes drawLangHover {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.toggle-container {
  position: relative;
  width: 45px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-switch {
  width: 45px;
  height: 20px;
  background: transparent;
  position: relative;
}

.toggle-switch img {
  width: 100%;
  height: auto;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.toggle-switch.en img {
  content: url("./../../assets/animations/switch_left.png");
}

.toggle-switch.de img {
  content: url("./../../assets/animations/switch_right.png");
}
