@import "./../../styles.scss";

.project-details-container {
  position: relative;
  background-color: #1d1d1d;
  padding: 20px 50px 0;
  font-family: "Bricolage";
  height: 100vh;

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./../../assets/backgrounds/note_Book_Paper.png") no-repeat
      top center;
    background-size: 100% 100%;
    z-index: 0;
  }

  .bg-rotated {
    display: none;
  }
}

.navbar,
.go-back {
  position: relative;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo mit Farbwechsel */
.logo {
  width: 38.54px;
  height: 40px;
  cursor: pointer;
  transition: filter 0.3s ease;
  filter: invert(40%) sepia(91%) saturate(2000%) hue-rotate(220deg);

  &:hover {
    filter: invert(60%) sepia(25%) saturate(700%) hue-rotate(130deg);
  }
}

/* Navigation */
.nav-links {
  display: flex;
  gap: 150px;

  a {
    position: relative;
    text-decoration: none;
    color: #f8f9fa;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }

  /* Spezifischer Effekt nur für About-Me */
  .about-link {
    position: relative;
    cursor: pointer;
    color: black;
  }

  .underline_about {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 50px;
    background: url("./../../assets/animations/about_me_hover.png") no-repeat
      center/contain;
    opacity: 0;
    z-index: -1;
    transform: translate(-50%, -50%) scale(0);
  }

  .about-link:hover .underline_about {
    opacity: 1;
    animation: drawCircle 180ms ease-in-out forwards;
    z-index: 1;
  }

  .about-link:not(:hover) .underline_about {
    animation: eraseCircle 180ms ease-in-out forwards;
    z-index: 1;
  }

  /* Animation: Kreis entsteht von oben in der Mitte und erweitert sich */
  @keyframes drawCircle {
    0% {
      clip-path: circle(0% at 50% 0%);
      transform: translate(-50%, -50%) scale(0);
      opacity: 1;
    }
    50% {
      clip-path: circle(50% at 50% 25%);
      transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
      clip-path: circle(100% at 50% 50%);
      transform: translate(-50%, -50%) scale(1);
    }
  }

  /* Umkehrung der Animation */
  @keyframes eraseCircle {
    0% {
      clip-path: circle(100% at 50% 50%);
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    50% {
      clip-path: circle(50% at 50% 25%);
      transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
      clip-path: circle(0% at 50% 0%);
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
  }

  /* Spezifischer Effekt nur für Skills */
  .skills-link {
    position: relative;
    cursor: pointer;
    color: black;

    .underline_skills {
      position: absolute;
      left: 0;
      bottom: -12px;
      width: 80px;
      height: 42px;
      background: url("./../../assets/animations/skills_hover.png") no-repeat
        left center/contain;
      opacity: 1;
      clip-path: inset(0 100% 0 0);
      transition: clip-path 0.1s ease-in-out;
    }

    &:hover .underline_skills {
      left: -19px;
      animation: arrowAppear 180ms ease-in-out forwards;
    }

    &:not(:hover) .underline_skiils {
      left: -19px;
      animation: arrowDisappear 180ms ease-in-out forwards;
    }
  }

  /* Keyframes für das Einblenden */
  @keyframes arrowAppear {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  /* Keyframes für das Rückwärts-Ausblenden */
  @keyframes arrowDisappear {
    0% {
      clip-path: inset(0 0 0 0);
    }
    100% {
      clip-path: inset(0 100% 0 0);
    }
  }

  /* Spezifischer Effekt nur für Projects */
  .projects-link {
    position: relative;
    cursor: pointer;

    .underline_projects {
      position: absolute;
      left: 0;
      bottom: -12px;
      width: 105px;
      height: 42px;
      background: url("./../../assets/animations/projects_hover.png") no-repeat
        left center/contain;
      opacity: 1;
      clip-path: inset(0 100% 0 0);
      transition: clip-path 0.1s ease-in-out;
    }

    &:hover .underline_projects {
      bottom: -13px;
      left: -15px;
      animation: arrowAppear 180ms ease-in-out forwards;
    }

    &:not(:hover) .underline_projects {
      bottom: -13px;
      left: -15px;
      animation: arrowDisappear 180ms ease-in-out forwards;
    }
  }

  /* Keyframes für das Einblenden */
  @keyframes arrowAppear {
    0% {
      clip-path: inset(0 100% 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  /* Keyframes für das Rückwärts-Ausblenden */
  @keyframes arrowDisappear {
    0% {
      clip-path: inset(0 0 0 0);
    }
    100% {
      clip-path: inset(0 100% 0 0);
    }
  }

  /* Spezifischer Effekt nur für Contact */
  .contact-link {
    position: relative;
    cursor: pointer;

    .underline_contact {
      position: absolute;
      left: 0;
      bottom: -12px;
      width: 90px;
      height: 42px;
      background: url("./../../assets/animations/contact_hover.png") no-repeat
        left center/contain;
      opacity: 1;
      clip-path: inset(0 100% 0 0);
      transition: clip-path 0.1s ease-in-out;
    }

    &:hover .underline_contact {
      left: -10px;
      animation: arrowAppear 180ms ease-in-out forwards;
    }

    &:not(:hover) .underline_contact {
      left: -10px;
      animation: arrowDisappear 180ms ease-in-out forwards;
    }
  }
}

/* Keyframes für das Einblenden */
@keyframes arrowAppear {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

/* Keyframes für das Rückwärts-Ausblenden */
@keyframes arrowDisappear {
  0% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

/* Sprachumschaltung */
.language-switch {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

/* EN & DE Buttons */
.language-switch button {
  background: transparent;
  border: none;
  color: #f8f9fa;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease-in-out;

  &.active {
    cursor: default;
    color: #24dd80;
  }

  &:not(.active):hover {
    color: #f8f9fa;
  }
}

/* Aktive Sprache mit Hover-Effekt */
.language-switch .lang-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-switch .lang-btn:not(.active):hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) scale(0);
  animation: drawLangHover 0.3s ease-in-out forwards;
}

.language-switch .lang-btn.en:not(.active):hover::after {
  background-image: url("./../../assets/animations/english_Hover.png");
}

.language-switch .lang-btn.de:not(.active):hover::after {
  background-image: url("./../../assets/animations/deutsch_Hover.png");
}

/* Keyframe für das Zeichnen des Hover-Kreises */
@keyframes drawLangHover {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

/* Toggle Switch Animation */
.toggle-container {
  position: relative;
  width: 45px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-switch {
  width: 45px;
  height: 20px;
  background: transparent;
  position: relative;
}

.toggle-switch img {
  width: 100%;
  height: auto;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.toggle-switch.en img {
  content: url("./../../assets/animations/switch_left.png");
}

.toggle-switch.de img {
  content: url("./../../assets/animations/switch_right.png");
}

.go-back {
  padding: 65px 0 0 0;
  gap: 10px;
  align-items: center;
  display: flex;
  color: black;
  font-family: "Bricolage";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;

  img {
    height: 24px;
    width: 24px;
  }

  &:hover {
    color: #1b78ea;
  }
}

h1 {
  font-size: 75px;
}

.project-title {
  display: flex;
  flex-direction: column;
  padding: 30px 0 20px 45px;
}

.underline {
  animation: handwriting 2s ease-in-out infinite;
}

@keyframes handwriting {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  40% {
    clip-path: inset(0 0 0 0);
  }
  70% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.project-info {
  max-width: 1450px;
  padding: 65px 0 15px 45px;
  display: flex;
  gap: 180px;

  .left-content {
    flex: 1;
    bottom: 50px;
    position: relative;
  }

  .right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    bottom: 130px;
  }
}

/* Für die einzelnen Sektionen */
.description,
.details {
  margin-bottom: 40px;

  h2 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 28px;
  }

  p {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
  }
}

/* Dauer */
.duration {
  margin-bottom: 30px;
  font-size: 19px;
  strong {
    font-weight: 700;
    font-size: 20px;
  }
}

/* Technologien-Liste */
.technologies {
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Damit die Icons umbrechen können, falls zu lang */
  gap: 15px;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.project-links {
  display: flex;
  gap: 20px;
  position: relative;
}

.gitHub,
.liveTest {
  display: flex;
  transition: opacity 180ms ease-in-out, transform 180ms ease-in-out;
  width: 100px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid #f8f9fa;
  cursor: pointer;
  z-index: 3;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 0 0 #f8f9fa;
  background: linear-gradient(to top, #000000 1%);

  &:hover {
    background: #f87a55;
    color: #f8f9fa;
    transform: translateY(2px);
    box-shadow: 1px 0px 0px #f8f9fa;
    z-index: 3;
  }
}

.next-project {
  gap: 10px;
  align-items: center;
  display: flex;
  color: #f8f9fa;
  font-family: "Bricolage";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  cursor: pointer;
  position: relative;
  left: 25px;
  top: 25px;

  img {
    height: 24px;
    width: 24px;
  }

  &:hover {
    color: #24dc7f;
  }
}

.project-ring-container {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 3;
  left: 500px;
  bottom: 250px;

  .project-ring {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .text-top {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 8px;
    left: 0%;
  }
  .ring-icon {
    position: absolute;
    height: auto;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%) scaleX(-1) rotate(20deg);
    width: 70px;
    height: 40px;
  }
}

.sticker {
  width: 100px;
  height: 100px;
  background: url("./../../assets/backgrounds/projects_epl_db.png") no-repeat
    center/cover;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  top: 150px;
  left: 500px;
}

/* Logo mittig platzieren */
.sticker_logo {
  width: 40px;
  height: auto;
  position: absolute;
  z-index: 2;
  transform: rotate(15deg);
}

/* Kreisförmiger Text */
.circle-text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: x-large;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  font-family: Bricolage;
}

/* Trick für kreisförmigen Text */
.circle-text::before {
  content: "Anthony Pizzuti - Frontend Developer - ";
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  transform: rotate(0deg);
}

.mobile-header {
  display: none;
  position: absolute;
  top: 20px;
  left: 50px;
  right: 50px;
  z-index: 1001;
  justify-content: space-between;
  align-items: center;

  .logo img {
    width: 38.54px;
    height: 40px;
  }

  .close-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.mobile-buttons {
  display: none;
}

@media (max-width: 1669px) {
  .project-info .left-content {
    bottom: 30px; // ein klein wenig höher rücken
  }

  .project-info .description h2,
  .project-info .details h2 {
    font-size: 24px; // Überschriften kleiner
  }

  .project-info .description p,
  .project-info .details p {
    font-size: 18px; // Fließtext kleiner
    line-height: 1.3;
  }

  .project-info .duration {
    font-size: 17px; // Dauer-Text kleiner
    margin-bottom: 25px;
    strong {
      font-size: 18px;
    }
  }

  .project-info .technologies li {
    font-size: 16px; // Tech-Labels kleiner
    img {
      width: 18px;
      height: 18px;
    }
  }
}

@media (max-width: 1330px) {
  .project-info .left-content {
    bottom: 50px;
  }

  .project-info .description h2,
  .project-info .details h2 {
    font-size: 22px;
  }

  .project-info .description p,
  .project-info .details p {
    font-size: 16px;
    line-height: 1.4;
  }

  .project-info .duration {
    font-size: 16px;
    margin-bottom: 20px;
    strong {
      font-size: 17px;
    }
  }

  .project-info .technologies li {
    font-size: 14px; // Tech-Labels kleiner
    gap: 4px;
    img {
      width: 16px;
      height: 16px;
    }
  }
}

@media (max-width: 1260px) {
  .project-details-container {
    position: relative;
    height: auto;
    background-color: black;
    overflow: hidden;
    &::before {
      display: none !important;
    }

    /* Zeige das rotierte Bild */
    .bg-rotated {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 140vh;
      height: 100vw;
      object-fit: cover;
      transform: rotate(90deg) translateY(-100%);
      transform-origin: top left;
      z-index: 0;
      pointer-events: none;
    }
  }

  .project-title {
    order: 1;
    width: 100%;
    padding: 20px;
    text-align: left;
  }

  .project-info {
    order: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 0 20px;
  }

  .project-info .left-content,
  .project-info .right-content {
    width: 100%;
    position: static;
  }

  .description,
  .details {
    width: 100%;
    margin-bottom: 12px;
  }

  .description h2,
  .details h2 {
    font-size: 24px;
  }

  .description p,
  .details p {
    font-size: 18px;
    line-height: 1.4;
  }

  .duration {
    font-size: 17px;
    margin-bottom: 20px;

    strong {
      font-size: 18px;
    }
  }

  .project-preview {
    order: 3;
    width: 100%;
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .project-links {
    order: 4;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    padding: 0 20px;
  }

  .project-ring-container,
  .sticker {
    display: none !important;
  }

  .navbar {
    background-color: transparent;
    color: black;

    a,
    .nav-links a,
    .language-switch button,
    .language-switch .lang-btn {
      color: black !important;
    }

    .language-switch button.active {
      color: #24dd80 !important;
    }

    .toggle-switch.en img,
    .toggle-switch.de img {
      filter: invert(0%);
    }
  }

  .details-content-wrapper .go-back,
  .details-content-wrapper .next-project {
    display: none !important;
  }

  .mobile-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 2;
  }

  .mobile-buttons .next-project {
    left: 10px;
  }

  .mobile-buttons .go-back {
    color: #f8f9fa;
    bottom: 7px;
    right: 55px;
  }

  .mobile-buttons .go-back:hover {
    color: #1b78ea;
  }
}

@media (max-width: 1024px) {
  .project-details-container {
    padding: 0;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 8%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0) 70%
      );
      z-index: 1;
    }
  }

  .project-title {
    margin-top: 60px;
  }

  .underline {
    height: 13px !important;
  }

  h1 {
    font-size: 32px;
    line-height: 1.2;
  }

  .navbar,
  .language-switch {
    display: none !important;
  }

  .mobile-header {
    display: flex;

    .close-btn {
      display: block;
    }
  }

  .mobile-buttons .next-project {
    padding-right: 50px;
  }

  .mobile-buttons .go-back {
    padding-left: 50px;
  }
}

@media (max-width: 490px) {
  .project-info .description h2,
  .project-info .details h2 {
    font-size: 16px;
  }

  .project-info .left-content,
  .project-info .right-content {
    position: static;
    box-sizing: border-box;
    width: 100%;
    padding: 0 3px;
  }

  .mobile-header {
    left: 0 !important;
    right: 0 !important;
    padding: 0 20px !important;
    justify-content: space-between !important;
  }

  .project-info .description p,
  .project-info .details p {
    font-size: 14px;
    line-height: 1.4;
  }

  .project-info .duration {
    font-size: 14px;
    margin-bottom: 20px;
    strong {
      font-size: 14px;
    }
  }

  .mobile-buttons .go-back {
    font-size: 14px;
    justify-content: center;
  }

  .mobile-buttons .next-project {
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
