* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body{
    padding: 0 150px;
    background: rgb(255, 255, 255);
    height: 100vh;
}

@font-face {
  font-family: Kalam;
  src: url(./assets/fonts/Kalam-Regular.ttf);
}

@font-face {
  font-family: Bricolage;
  src: url(./assets/fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}

a {
  text-decoration: none;
  color: #f8f9fa;
}
