* {
  margin: 0;
}

@font-face {
    font-family: Kalam;
    src: url(./assets/fonts/Kalam-Regular.ttf);
}

@font-face {
    font-family: Bricolage;
    src: url(./assets/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf);
}