<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <a (click)="goHome()" (click)="scrollToTop()">
        <img
          class="footer-logo"
          src="./../../assets/logo/ap-logo.png"
          alt="Logo"
        />
      </a>
      <div class="footer-left-text-group">
        <span>© Anthony Pizzuti</span>
        <div class="legal-notice">
          <a routerLink="/legal-notice">
            Legal Notice
            <img
              src="./../../assets/animations/legal-notice-hover.png"
              alt="Underline"
              class="underline"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="footer-links">
      <a
        href="https://github.com/AnthonyPizzuti"
        target="_blank"
        class="social-link"
      >
        GitHub
        <img
          src="./../../assets/icons/github.png"
          alt="GitHub Icon"
          class="icon"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/anthony-pizzuti-6937b9355/"
        target="_blank"
        class="social-link"
      >
        LinkedIn
        <img
          src="./../../../assets/icons/linkedin.png"
          alt="LinkedIn Icon"
          class="icon"
        />
      </a>
      <a href="mailto:anthony.pizzuti@gmx.de" class="social-link">
        Email
        <img src="./../../assets/icons/mail.png" alt="Mail Icon" class="icon" />
      </a>
    </div>
  </div>
</footer>
